node_modules/
dist/
scratch/
test/
.env
*.json
!package.json
!package-lock.json
!tsconfig.json
service_account.json
credential.json
PDRM_Police_Report.pdf
.genkit/
.git/
.gitignore
Dockerfile
.dockerignore
npm-debug.log
